.formulario{
    text-align: center;
}

.imgContacto{
    top: 150px;
    left: 730px;
    position: absolute;
  }

@media screen and (max-width: 1024px) {

    .imgContacto {
      display: none;
    }
  
  
  }