.imagenes{
    display: flex;
    flex-wrap: wrap;
    row-gap: 30px;
    align-items: center;
    justify-content: space-evenly;
  
  }
  
.imgCuadra{
    padding: 3px;
    border-radius: 10px;
    transition: width 0.5s, height 0.5s;
    
}

.imgCuadra:hover{
    width: 320px;
    height: 320px;
    border-style: groove;
    box-decoration-break: 10px;
    border-color: #003abd;
}