.gridHome{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 60px 560px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;

    
}

.tabla__txtizq {
  @include cartas;
}

.tabla__txtcen {
  @include cartas;
}

.tabla__txtder{
  @include cartas;
}



