.gridHome{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: relative;
    padding: 5px;
    
}

.tabla__txtizq {
  @include cartas;
}

.tabla__txtcen {
  @include cartas;
}

.tabla__txtder{
  @include cartas;
}

.users{
  
  
  
  
  background-color: yellow;
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  z-index: 1;
  display: flex;
  justify-content:center;
  align-items: center;
  transition: all .5s;
  flex-direction: column;
  
}

.users-active{
  visibility: visible;
  opacity: 1;
}

.bloqueUsuario{





  text-align: center;
  transition: all .5s;
  
}

button {
  background-color: rgb(255, 255, 255);
  width: auto;

}