/*Index.html*/

@media screen and (max-width: 1240px) {




    .gridHome{
    
        display: grid;
        grid-template-columns: 1fr ;
        grid-template-rows: 300px 300px 300px 
        
    
    }
    
    .imgBlock{
    
    height: 210px;
    width: 250px;
    margin: 0px;
    
      
    }
}

/*Productos.html*/

@media screen and (max-width: 1024px) {

    .gridGalery{
    
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 175px;
        background-color: lightblue;
        opacity: 1;
        border-style: none;
      }
    
   
    .imgCuadrilla{
    
      height: 120px;
      width: 120px;
      transition: width 1s, height 1s, transform 1s, transform 1s;
    }
    
    .imgCuadrilla:hover{
        transform: rotateZ(360deg);
        border-radius: 5000px;
        height: 120px;
        width: 120px;
    }

}
/* Navegador*/
@media screen and (max-width: 1024px) {

    .gridContainer{

        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 50px 30px 50px; 
        justify-items: center;
        
    
        .nav-search-input{
            
            align-content: center;
          }
    
          a:hover {
            background: $color-select;
            border-radius: 6px;
         
          }
          .logo{
              
              align-items:start ;
              justify-items: start;
              padding-bottom: 10px;
              
             
          }
        .saludoNav{

          justify-items: start;
        }

       

        .navbar {
              z-index: 1;
              display: block;
              opacity: 0.9;
              justify-self: stretch;
            }
        .dropdown{

            background-color: rgba(249,255,0,1);
            border-radius: 5px;
            
        }

        .nav-item{

        padding-left  : 40px;
        
        }
        }
          
}

/* Contacto*/
@media screen and (max-width: 700px) {
  
  .imgContacto{
    display: none;
  }

  .logoPage{
    width: 300px;
  }


/* modal*/
.modal-carrito {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  
  background-color: white;
  min-width: 100px;
  padding: 5px;
  margin-top: -100%;
  transition: all .5s;
  border-style: groove;
  border-radius: 10px;
  border-color: royalblue;
}

}