@mixin bordes {
    text-align: center;
    align-self: center;
    border-color: white;
    border-style: double;
    border-radius: 100px;  
  }

  @mixin cartas{


    font-size: 20px;
    color: white;
    letter-spacing: 0px;
    padding: 10px;
    
  }
  