@import "variables";

html {
	overflow: auto;
}
  
  
*{margin: 0;padding: 0;}

body{
	background-color: $total-page-color;
	min-height: 100vh;
	position: relative;
	padding-bottom: 100px;
	
}



.gridContainer{

    display: grid;
    grid-template-columns: repeat(3 ,1fr) ;
    grid-template-rows: 50px; 
	min-height: auto;
	background: $color-nav;

	.nav-search-input{
		display: inline-grid;
		align-content: center;
	  }

	  a:hover {
		background: $color-select;
		border-radius: 6px;
	  }

	  .logo {
		width: 100px;
	  }

	  .navbar-toggler {
		  width: 8px;
		  padding: 0px;
		  border: none;
	  }
	  .navbar-toggler-icon{
		  width: 15px;
	  }
}

.productosStock{
	color: $color-text-primary;
	
}