@import "mixin";
@import "variables";

.gridGalery{

    display: grid;
    grid-template-columns: repeat(4 , 1fr);
    grid-template-rows: 300px 300px ; 
    background-color: lightblue;
    opacity: 1;
    align-self: space-between;
    

}




article img{
  border-radius: 1363345345389px;
  
}

.imgCuadrilla{

    transition: width 0.2s, height 0.2s, transform 0.4s;
}

.imgCuadrilla:hover{
    width: 200px;
    height: 200px;
    transform: rotateZ(360deg);
    border-radius: 5000px;
}

article div a:hover {
  border-radius: 13689px;
  padding: 0px;
  text-decoration: underline;

  }



  .articulos {
    @include bordes;
  }

  .colorCarrito{
    color: royalblue;
    background: $color-select;
    border: none;
    
  }

  .colorCarrito:hover{
    color: black;
    opacity: 0.9;
  }


  .modal-contenedor {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .5s;
    opacity: 0;
    visibility: hidden;
}


.modal-active {
  opacity: 1;
  visibility: visible;
}

.modal-carrito {
  position: relative;
  background-color: white;
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
  border-style: groove;
  border-radius: 10px;
  border-color: royalblue;
}

.modal-active .modal-carrito {
  margin-top: 0;
}

.modal-carrito h3 {
  color: royalblue;
  padding-bottom: 5px;
}

.btn-success {
  display: block;
}
.modal-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white;
}
.modal-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.modal-carrito #carritoCerrar:focus {
  outline: none;
}
.modal-carrito .precioProducto {
  padding-top: 10px;
  
}

.boton-agregar{
  border: none;
  padding: 5px;
  border-radius: 100px;
  background: $color-select;
  color: royalblue;
}

.boton-eliminar {
  border: none;
  background-color: white;
  color: red;
  font-size: 10px;
}

.vaciarCarrito{
  border: none;
  padding: 5px;
  border-radius: 100px;
  background: $color-nav;
  color: royalblue;
}

.productoEnCarrito{
  display: flex;
  justify-content: space-between;
  align-items: center;
  
}

.precioProducto{
  border-top: 12px;
  border-style: groove;
  
}