$color-nav: linear-gradient(180deg, rgba(249,255,0,1) 0%, rgba(255,255,255,1) 57%, rgba(249,255,0,1) 63%);
$color-select: linear-gradient(180deg, rgba(255,255,255,1) 22%, rgba(254,255,0,1) 49%);
$color-text-primary: white;
$total-page-color: lightblue;
$fuente-principal: 'Akshar', sans-serif;