@import "navegador";
@import "normalice";
@import "titular";
@import "mixin";


/*pags*/
@import "home";
@import "productos";
@import "galeria";
@import "contacto";

/*MediaQueries*/

@import "mediaqueries";

/*footer*/

@import "footer";