@media screen and (max-width: 1024px) {




.grid{

    display: grid;
    grid-template-columns: 320px ;
    grid-template-rows: 0px 60px 0px 460px 460px 460px; 
    background-color: lightblue;
    opacity: 1;
    align-self: space-between;

}

.imgBlock{

  height: 210px;
  width: 250px;
  
}
}



