html {
  font-size:  62.5%;
  font-family: Tahoma, Verdana, sans-serif;
  overflow: auto;
}

*{margin: 0;padding: 0;}

nav{
  background: rgb(42,228,226);
  background: linear-gradient(360deg, rgba(42,228,226,1) 10%, rgba(215,255,0,1) 41%, rgba(248,255,181,1) 94%);

}

.gridContainer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 50px; 
}



.paginas{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}





.nav-search-input{
  display: inline-grid;
  align-content: center;

}

.paginas li{

  display: inline-grid; 

} 


.registracion {

  display: flex; 
  justify-content: space-evenly;
  align-items: center;
} 



a {
  text-decoration: none;
  color: blue;


}

a:hover {
  background: rgb(42,228,226);
  background: linear-gradient(360deg, rgba(42,228,226,1) 13%, rgba(215,255,0,0) 100%);
  border-radius: 6px;
  text-decoration: underline;
}


ul li:hover ul a:hover{
  background-color: royalblue;

}


li ul  {

  display: none;
}


li:hover ul{
  display: block;
}



h1{
  font-size: 20px;
  color: white;
  position: relative;
  animation-name: h1;
  animation-duration: 1s;
  animation-delay: 0s;

}

@keyframes h1 {
  0%   { letter-spacing: 1px;}
  25%  { letter-spacing: 2px;}
  50%  { letter-spacing: 3px;}
  75%  { letter-spacing: 2px;}
  100% { letter-spacing: 1px;}

}

li{
  list-style:none;
}


.grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 60px 560px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: lightblue;
    opacity: 1;
    margin: 1px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

h1{
  font-size: 20px;
  color: white;

}




.tabla__txtizq {

  font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

.tabla__txtcen {


  font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

.tabla__txtder{


  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}


@media screen and (max-width: 1024px) {


.gridContainer{

    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 30px 30px 30px;   
    justify-content: space-around;
    align-items: center;
   }

.grid{

    display: grid;
    grid-template-columns: 320px ;
    grid-template-rows: 0px 60px 0px 460px 460px 460px; 
    background-color: lightblue;
    opacity: 1;
    align-self: space-between;

}

.imgBlock{

  height: 210px;
  width: 250px;
  
}


.navIzq{
  display: flex;
  justify-content: center;
}

}

footer {
  text-align: center;
  letter-spacing: 3px;
  position: absolute;
  background-color: royalblue;
  color: white;
  width: 100%;
  display: block;
  padding: 16px 0px;
  
}

