html {
  font-size:  62.5%;
  font-family: Tahoma, Verdana, sans-serif;
  overflow: auto;
}

*{margin: 0;padding: 0;}

nav{
  background: rgb(249,255,0);
  background: linear-gradient(180deg, rgba(249,255,0,1) 0%, rgba(255,255,255,1) 57%, rgba(249,255,0,1) 63%);


}

.gridContainer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 50px; 
}



.paginas{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}





.nav-search-input{
  display: inline-grid;
  align-content: center;

}

.paginas li{

  display: inline-grid; 
  padding: 10px;
  margin: 10px;
} 


.registracion {

  display: flex; 
  justify-content: space-evenly;
  align-items: center;
} 



a {
  text-decoration: none;
  color: blue;


}

a:hover {
  background-color: skyblue;
  border-radius: 6px;
  text-decoration: underline;

  }


ul li:hover ul a:hover{
  background-color: royalblue;

}


li ul  {

  display: none;
}


li:hover ul{
  display: block;
}



h1{
  font-size: 20px;
  color: white;
  position: relative;
  animation-name: h1;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-direction: reverse;
}

@keyframes h1 {
  0%   { left:0px; top:0px;}
  25%  { left:400px; top:0px;}
  50%  { left:-400px; top:0px;}
  75%  { left:400px; top:0px;}
  100% { left:0px; top:0px;}

}

li{
  list-style:none;
}


.grid{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 60px 560px; 
    grid-column-gap: 10px;
    grid-row-gap: 15px;
    background-color: lightblue;
    opacity: 1;
    margin: 1px;
    justify-content: center;
    text-align: center;
    align-items: center;

}

h1{
  font-size: 20px;
  color: white;

}




.tabla__txtizq {

  font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

.tabla__txtcen {


  font-size: 20px;
    color: white;
    letter-spacing: 2px;
}

.tabla__txtder{


  font-size: 20px;
  color: white;
  letter-spacing: 2px;
}


@media screen and (max-width: 1024px) {


.gridContainer{

    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 30px 30px 30px; 
    justify-content: space-around;
    align-items: center;
   }

.grid{

    display: grid;
    grid-template-columns: 320px ;
    grid-template-rows: 0px 60px 0px 460px 460px 460px; 
    background-color: lightblue;
    opacity: 1;
    align-self: space-between;

}

.imgBlock{

  height: 210px;
  width: 250px;
  
}


.navIzq{
  display: flex;
  justify-content: center;
}

}

footer {
  text-align: center;
  letter-spacing: 3px;
  position: absolute;
  background-color: royalblue;
  color: white;
  width: 100%;
  display: block;
  padding: 16px 0px;
  
}

