html {
  font-size:  62.5%;
  overflow: auto;
}

*{margin: 0;padding: 0;}

nav{
  background: rgb(249,255,0);
  background: linear-gradient(180deg, rgba(249,255,0,1) 0%, rgba(255,255,255,1) 57%, rgba(249,255,0,1) 63%);
}

.gridContainer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 50px; 
}






.nav-search-input{
  display: inline-grid;
  align-content: center;

}


.registracion {

  display: flex; 
  justify-content: space-around;
  align-items: center;
} 



a {
  text-decoration: none;
}

a:hover {
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(254,255,0,1) 52%);
  border-radius: 6px;
}







h1{
  font-size: 20px;
  color: white;
  position: relative;
  animation-name: h1;
  animation-duration: 4s;
  animation-delay: 0s;
  animation-direction: reverse;
}

@keyframes h1 {
  0%   { letter-spacing: 1px;}
  25%  { letter-spacing: 2px;}
  50%  { letter-spacing: 3px;}
  75%  { letter-spacing: 2px;}
  100% { letter-spacing: 1px;}

}

li{
  list-style:none;
}

body{
    background-color: lightblue;;
}

section{
  text-align: center;
}


h1{
  font-size: 20px;
  color: white;

}

.imgContacto{
  top: 1000px;
  left: 700px;
  position: absolute;
  animation-name: imgContacto;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
  z-index: -1;
}

@keyframes imgContacto {
  0%   {height: 0px; width: 0px ; left:0px; top:0px;}
  100%  {left:700px; top:100px;}
  
}

footer {
  text-align: center;
  letter-spacing: 3px;
  position: relative;
  background-color: royalblue;
  color: white;
  width: 100%;
  display: block;
  padding: 16px 0px;
  top: 192px;
}


@media screen and (max-width: 1024px) {

  .imgContacto {
    display: none;
  }


}