html {
  font-size:  62.5%;
  font-family: Tahoma, Verdana, sans-serif;
  overflow: auto;
}

*{margin: 0;padding: 0;}

nav{
  background: rgb(249,255,0);
  background: linear-gradient(180deg, rgba(249,255,0,1) 0%, rgba(255,255,255,1) 57%, rgba(249,255,0,1) 63%);

}

.gridContainer{

    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-template-rows: 50px; 
}



.paginas{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 15px;
}





.nav-search-input{
  display: inline-grid;
  align-content: center;

}

.paginas li{

  display: inline-grid; 
  padding: 10px;
  margin: 10px;
} 


.registracion {

  display: flex; 
  justify-content: space-evenly;
  align-items: center;
} 



a {
  text-decoration: none;
  color: blue;
  

}

a:hover {

  border-radius: 6px;
  text-decoration: underline;
  background-color: lightblue;
  }




li ul  {

  display: none;
}


li:hover ul{
  display: block;
}



h1{
  font-size: 20px;
  color: white;

}

li{
  list-style:none;
}

.col-1{
  display: grid;
  grid-template-columns: 1fr ;
  grid-template-rows: 85px;
  background-color: lightblue;
  text-align: center;
  align-items: center;
  grid-column-gap: 10px;

}

.col-2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 700px;
  background-color: lightblue;
  justify-items: stretch;
  align-items: stretch;
  grid-column-gap: 10px;
 
}

.conteiner-servicio{
  margin: 1px 0px 0px 0px;
}



footer {
  text-align: center;
  letter-spacing: 3px;
  position: absolute;
  background-color: royalblue;
  color: white;
  width: 100%;
  display: block;
  padding: 16px 0px;
  
}

.conteiner-servicio{
  margin: top 1px;
}
@media screen and (max-width: 1024px) {


.gridContainer{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px 30px; 
    justify-content: space-around;
    align-items: center;
   }


.navIzq{
  display: flex;
  justify-content: center;
}

.col-2{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 350px;
  background-color: lightblue;
  justify-items: stretch;
  align-items: stretch;


}
}