@media screen and (max-width: 1024px) {


.gridContainer{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 30px 30px 30px; 
    justify-content: space-around;
    align-items: center;
   }

.grid{

    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 160px 160px 160px 160px 160px 160px 160px 160px ; 
    background-color: lightblue;
    opacity: 1;
    border-style: none;
  }

.navIzq{
  display: flex;
  justify-content: center;
}

.imgCuadrilla{

  height: 120px;
  width: 120px;
  transition: width 1s, height 1s, transform 1s, transform 1s;
}

.imgCuadrilla:hover{
    transform: rotateZ(360deg);
    border-radius: 5000px;
    height: 120px;
    width: 120px;
}


}


footer
 {
  text-align: center;
  letter-spacing: 3px;
  position: absolute;
  background-color: royalblue;
  color: white;
  width: 100%;
  display: block;
  padding: 16px 0px;
}


